{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    {% comment %} custom stylesheet for the rocks/galery app {% endcomment %}
    <link rel="stylesheet" href="{% static 'rocks/css/rocks.css' %}">
{% endblock %}

{% block header %}
    {% comment %} primary navigation bar {% endcomment %}
    {% include 'includes/nav-primary.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <hr>
        <p class="my-5 text-center">The rocks below have already found their owners. Behold their little happy stone faces!</p>
        <div class="rock-grid row">
            {% comment %} same grid and card display system as on the homepage {% endcomment %}
            {% for rock in rocks %}
                    <div class="col-12 col-md-6 d-flex justify-content-center my-3">
                        <div class="card" style="width: 30rem;">
                            <a href="{% url 'rockprofile' rock.id %}">
                                <div class="customisation-image-inner-div">
                                    
                                    {% comment %} base image {% endcomment %}
                                    <img src="{{ rock.image.url }}" class="card-img-top" alt="image of {{rock.name}}">
                                    
                                    {% comment %} accessories layer {% endcomment %}
                                    <div class="accessories-layer">
                                        {% for accessory in accessories %}
                                            {% if accessory.id in rock.accessories.accessories %}
                                                <img src="{{ accessory.image.url }}" class="img-fluid gallery-display"  alt="image of {{accessory.name}}" data-accessory-id="{{accessory.id}}">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    
                                    {% comment %} frames layer {% endcomment %}
                                    <div class="frames-layer">
                                        {% if rock.accessories.frame != 'None' %}
                                            {% for frame in frames %}
                                                {% if frame.id == rock.accessories.frame %}
                                                    <img src="{{ frame.image.url }}" class="img-fluid gallery-display" alt="image of {{frame.name}}">
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </a>

                            {% comment %} rock information - name and owner {% endcomment %}
                            <div class="card-body">
                            <h5 class="card-title">{{rock.name}}</h5>
                            <p class="card-text"><strong>Owned by: </strong><a href="{% url 'profile' rock.owner %}">{{rock.owner}}</a></p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}