#accessories-layer,
#frames-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#accessories-layer {
    z-index: 2;
}

#frames-layer {
    z-index: 3;
}

#accessories-layer img,
#frames-layer img {
    width: 93%;
    height: auto;
    position: absolute;
    top: 3.75%;
    left: 3.5%;
    border: none;
    border-radius: 20px;
}