#customisation-image .col-md-6,
#customisation-image .col-10 {
    padding-right: 0;
    padding-left: 0;
}

.accesory-checkbox {
    border: 1px solid black;
}

#customisation-image-inner-div {
    position: relative;
    width: auto;
}

.rock-img {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

#accessories-layer,
#frames-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#accessories-layer {
    z-index: 2;
}

#frames-layer {
    z-index: 3;
}

#accessories-layer img,
#frames-layer img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}



