{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'customisation/css/customisation.css' %}">
{% endblock %}

{% block header %}
    {% include 'includes/nav-secondary.html' %}
{% endblock %}

{% block content %}
        <div class="container text-center w-75">
            <h1 class="my-5">Request an accessory</h1>
            <p>We are always working on bringing new fun accessories for you to play with. Have a cool idea? Fill in the form below and we'll see what we can do!</p>
                <div class="mb-5">
                    <form action="{% url 'accessory_request' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group w-75 mx-auto text-left mt-5">
                            <label for="accessory_name"><strong>Accessory name:</strong></label><br>
                            <input type="text" class=" w-100" name="accessory_name" id="accessory_name">
                        </div>
                        <div class="form-group w-75 mx-auto text-left mt-3">
                            <label for="accessory_colour"><strong>Accessory colour:</strong></label><br>
                            <input type="text" class="w-100" id="accessory_colour" name="accessory_colour">
                        </div>
                        <div class="form-group w-75 mx-auto text-left mt-3">
                            <label for="accessory_type"><strong>Accessory type:</strong></label><br>
                            <select class="w-100" id="accessory_type" name="accessory_type">
                                <option>Accessory</option>
                                <option>Frame</option>
                            </select>
                        </div>
                        <div class="form-group w-75 mx-auto text-left mt-3">
                            <label for="accessory_description"><strong>Accessory description:</strong></label><br>
                            <textarea rows="8" name="accessory_description" id="accessory_description" class="w-100 request-form-textarea" placeholder="Describe the accessory you want to see in the Rockhouse..."></textarea><br>
                        </div>
                        <div class="w-75 mx-auto text-left mt-3">
                            <label for="accessory_example"><strong>
                                If you can provide a picture of an example of what you have in mind, please upload it below:
                            </strong></label>
                            <input type="file" class="w-100" id="accessory_example" name="accessory_example">
                          </div>
                        <button class="mt-5 btn btn-dark">CANCEL</button>
                        <input class="mt-5 btn btn-dark" type="submit" value="SEND REQUEST">
                      </form>
                </div>
            </div>
        </div>
{% endblock %}