{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'customisation/css/customisation.css' %}">
{% endblock %}

{% block header %}
    {% include 'includes/nav-secondary.html' %}
{% endblock %}

{% block content %}
        <div class="container text-center">
            <h1 class="my-5">Customise {{rock.name}}</h1>
            <div class="row" id="customisation-image">
                <div class="col-10 offset-1 col-md-6 offset-md-3 mb-5 rock-preview-info" id="customisation-image-inner-div">
                    <img src="{{ rock.image.url }}" class="rock-img img-fluid custom-rounded p-4"  alt="image of {{rock.name}}">
                    <div id="accessories-layer">
                      {% for accessory in accessories %}
                        {% if accessory.id in selected_accessories %}
                              <img src="{{ accessory.image.url }}" class="img-fluid"  alt="image of {{accessory.name}}" data-accessory-id="{{accessory.id}}">
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div id="frames-layer">
                      {% if selected_frame != 'None' %}
                        {% for frame in frames %}
                          {% if frame.id == selected_frame %}
                            <img src="{{ frame.image.url }}" class="img-fluid" alt="image of {{frame.name}}">
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
                </div>
            </div>
            <form action="{% url 'customisation' rock.id %}" method="POST">
              {% csrf_token %}
              <div class="rock-grid row">
                  <div class="accordion w-100" id="accordionExample">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Accesories
                            </button>
                          </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body d-flex row" id="accessory-options">
                              {% for accessory in accessories %}
                              <div class="col-4 col-md-3 col-lg-2 d-flex justify-content-center my-3">
                                  <div style="width: 10rem;">
                                      <input type="checkbox" name="accessory" id="accessory_{{accessory.id}}" value="{{accessory.id}}" class="accessory-option" {% if accessory.id in selected_accessories %}checked{% else %}false{% endif %}>
                                      <img src="{{ accessory.image.url }}" class="img-fluid accesory-checkbox custom-rounded"  alt="image of {{accessory.name}}">
                                  </div>
                              </div>
                              {% endfor %}
                          </div>
                        </div>
                      </div>
                      
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Frames
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body d-flex row" id="frame-options">
                                {% for frame in frames %}
                                <div class="col-4 col-md-3 col-lg-2 d-flex justify-content-center my-3">
                                    <div style="width: 10rem;">
                                        <input type="radio" name="frame" id="frame_{{frame.id}}" value="{{frame.id}}" class="frame-option" {% if frame.id == selected_frame %}checked{% endif %}>
                                        <img src="{{ frame.image.url }}" class="img-fluid"  alt="image of {{frame.name}}">
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-4 col-md-3 col-lg-2 d-flex justify-content-center my-3">
                                    <div style="width: 10rem;">
                                        <input type="radio" name="frame" id="frame_none" value="frame_none" class="frame-option">
                                        <img src="{{ MEDIA_URL }}no_image.png" class="img-fluid"  alt="remove frame">
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
              <p class="text-muted small mt-5">Can't find what you're looking for?<br>
              <strong><a href="{% url 'accessory_request' %}">Request a custom accessory!</a></strong></p>
              <textarea rows="8" name="usernotes" class="mt-5 w-75" placeholder="Tell us something about {{rock.name}}...">{{user_notes}}</textarea><br>
              <button class="mt-5 btn btn-dark">CANCEL</button>
              <input class="mt-5 btn btn-dark" type="submit" value="SAVE CHANGES">
            </form>
        </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'customisation/js/customisation.js' %}"></script>
{% endblock %}