body {
    height: 100%;
    margin: 0;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
}

a {
    color: inherit;
}

footer a:hover {
    color: black;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-welcome {
    background-color: white;
    height: fit-content;
    padding: 10px;
}

.title-section .active {
    text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu {
    margin-top: 1em;
}

#logo {
    height: 30px;
}

.rock-preview-info {
    border: 1px solid #212529;
    border-radius: 25px;
}

.custom-rounded {
    border-radius: 40px;
}