body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
}

a {
    color: inherit;
}

p a:hover,
h5 a:hover {
    color: #212529;
}

footer a:hover {
    color: black;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-welcome {
    background-color: white;
    height: fit-content;
    padding: 10px;
}

.title-section .active {
    text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu {
    margin-top: 1em;
}

#logo {
    height: 30px;
}

.rock-preview-info {
    border: 1px solid #212529;
    border-radius: 25px;
}

.custom-rounded {
    border-radius: 40px;
}

.custom-checkbox {
    height: 0.9em;
    width: 0.9em;
    margin-left: 5px;
    vertical-align: middle;
    margin-bottom: 0.1em;
}

.message-container {
    max-width: 70%;
    margin: 0 auto 2em;
}

#login-lg-screens .col-6 {
    padding-right: 5px;
    padding-left: 5px;
}

/* ---------------- */

@media (min-width: 992px) and (max-width: 1199px) {
    body #form-row .col-md-6 {
        -ms-flex: 0 0 60% !important;
        flex: 0 0 60% !important;
        max-width: 60% !important;
    }
}

@media (min-width: 1200px) {
    body #form-row .col-md-6 {
        -ms-flex: 0 0 70% !important;
        flex: 0 0 70% !important;
        max-width: 70% !important;
    }
}