{% extends "base.html" %}

{% block header %}
    {% include 'includes/nav-primary.html' %}
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <hr>
            <div class="rock-grid row">
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center my-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top" alt="placeholder image">
                        <div class="card-body">
                        <h5 class="card-title">Rock Name</h5>
                        <p class="card-text">Short description of the rock meant to draw the reader in...</p>
                        <a href="#" class="text-muted">See more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center my-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top" alt="placeholder image">
                        <div class="card-body">
                        <h5 class="card-title">Rock Name</h5>
                        <p class="card-text">Short description of the rock meant to draw the reader in...</p>
                        <a href="#" class="text-muted">See more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center my-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top" alt="placeholder image">
                        <div class="card-body">
                        <h5 class="card-title">Rock Name</h5>
                        <p class="card-text">Short description of the rock meant to draw the reader in...</p>
                        <a href="#" class="text-muted">See more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center my-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top" alt="placeholder image">
                        <div class="card-body">
                        <h5 class="card-title">Rock Name</h5>
                        <p class="card-text">Short description of the rock meant to draw the reader in...</p>
                        <a href="#" class="text-muted">See more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center my-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top" alt="placeholder image">
                        <div class="card-body">
                        <h5 class="card-title">Rock Name</h5>
                        <p class="card-text">Short description of the rock meant to draw the reader in...</p>
                        <a href="#" class="text-muted">See more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center my-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top" alt="placeholder image">
                        <div class="card-body">
                        <h5 class="card-title">Rock Name</h5>
                        <p class="card-text">Short description of the rock meant to draw the reader in...</p>
                        <a href="#" class="text-muted">See more...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}