{% extends "base.html" %}

{% block header %}
    {% include 'includes/nav-primary.html' %}
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <hr>
            <div class="rock-grid row">
                {% for rock in rocks %}
                    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center my-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ rock.image.url }}" class="card-img-top" alt="image of {{rock.name}}">
                            <div class="card-body">
                            <h5 class="card-title">{{rock.name}}</h5>
                            <p class="card-text">{{rock.short_description}}</p>
                            <a href="#" class="text-muted">See more...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}