{% extends "base.html" %}

{% block header %}
    <div class="container row-12">

    </div>
{% endblock %}

{% block content %}
    <main>
        <h1>Test test! <i class="fa-brands fa-instagram"></i></h1>
        <div class="col-1">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa ab rem optio soluta labore quo quidem expedita nesciunt! Expedita veritatis, molestias asperiores quibusdam iure eius sint ea nisi! Doloribus, possimus!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa ab rem optio soluta labore quo quidem expedita nesciunt! Expedita veritatis, molestias asperiores quibusdam iure eius sint ea nisi! Doloribus, possimus!</p>
        </div>
    </main>
{% endblock %}