{% extends "base.html" %}

{% block header %}
    {% include 'includes/nav-secondary.html' %}
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="rock-preview-info mt-5">
                <div class="row">
                    <div class="col-12 col-md-6 justify-content-center">
                        <img src="{{ rock.image.url }}" class="img-fluid custom-rounded p-4" alt="placeholder image">
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="p-4">
                            <h1 class="mb-4">{{rock.name}}</h1>
                            <p><strong>Material:</strong> {{rock.material}}</p>
                            <p><strong>Texture:</strong> {{rock.texture}}</p>
                            <p><strong>Personality:</strong> {{rock.personality}}</p>
                            {% if rock.is_owned == False %}
                                <p><strong>Available for adoption:</strong> <strong>YES!</strong></p>
                                <p><strong>Adoption cost:</strong> £{{rock.price}}</p>        
                            {% else %}
                                <p><strong>Owned by:</strong> {{rock.owner}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div>
                    <p class="p-4">
                        {{rock.description}}
                    </p>
                </div>
            </div>
            <div class="mt-5 text-center">
                <p><strong>{{rock.name}} is available for adoption!</strong></p>
                <a class="btn btn-dark mb-5">ADOPT NOW</a><br>
                <a class="text-muted small" href="{% url 'adoptions' %}">< Back to all available rocks</a>
            </div>
        </div>
    </main>
{% endblock %}