{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block header %}
  {% include 'includes/nav-secondary.html' %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'adoptions/css/adoptions.css' %}">
{% endblock %}

{% block inner_content %}

<div class="container mt-5 p-5 rock-preview-info text-center">
  <h1>{% trans "Log In" %}</h1>

  <p class="mb-5">{% blocktrans %}No account? <strong><a href="{{ signup_url }}">Register here</a></strong> first!{% endblocktrans %}</p>

  {% if form.non_field_errors %}
    <div class="text-danger text-center mb-5">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <form class="login d-block d-lg-none" id="login_form" method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div>
      <div class="form-group">
        {{ form.login }}
        {{ form.login.errors }}
      </div>
      <div class="form-group">
        {{ form.password }}
        {{ form.password.errors }}
      </div>
      <div class="form-group" id="remember-label">
        {{ form.remember.label_tag }}
        {{ form.remember }}
      </div>
      <div class="mb-5">
        <button type="submit" class="mt-3 btn btn-dark">{% trans "Sign In" %} &raquo;</button>
      </div>
      <a class="button secondaryAction text-muted small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
  </form>
  <form class="login d-none d-lg-block" id="login_form" method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="row" id="login-lg-screens">
        <div class="form-group col-6">
          {{ form.login }}
          {{ form.login.errors }}
        </div>
        <div class="form-group col-6">
          {{ form.password }}
          {{ form.password.errors }}
        </div>
    </div>
    <div class="form-group mt-2" id="remember-label">
      {{ form.remember.label_tag }}
      {{ form.remember }}
    </div>
    <div class="mb-5">
      <button type="submit" class="mt-3 btn btn-dark">{% trans "Sign In" %} &raquo;</button>
    </div>
    <a class="button secondaryAction text-muted small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </form>
</div>

{% endblock %}
