{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block header %}
  {% include 'includes/nav-secondary.html' %}
{% endblock %}

{% block inner_content %}

<div class="container mt-5 p-5 rock-preview-info">
  <h1 class="text-center">{% trans "Sign Up" %}</h1>

  <p class="text-center mb-5">{% blocktrans %}Already have an account? <strong><a href="{{ login_url }}">Sign in</a></strong>!{% endblocktrans %}</p>

  <form class="signup stripe-style-input" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="d-block d-lg-none">
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="mb-2">{% trans "Sign Up" %} &raquo;</button>
    </div>
    <div class="row d-none d-lg-flex">
      {{ form.non_field_errors }}
      <div class="col-6">
        <div class="form-group">
          <strong>{{ form.username.label_tag }}</strong>
          {{ form.username }}
          {{ form.username.errors }}
        </div>
        <div class="form-group">
        <strong>{{ form.email.label_tag }}</strong>
          {{ form.email }}
          {{ form.email.errors }}
          {{ form.email2 }}
          {{ form.email2.errors }}
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
        <strong>{{ form.password1.label_tag }}</strong>
          {{ form.password1 }}
          {{ form.password1.errors }}
          {{ form.password2 }}
          {{ form.password2.errors }}
        </div>
        <div class="text-center">
          <button type="submit" class="mt-3 btn btn-dark">{% trans "Sign Up" %} &raquo;</button>
        </div>
      </div>
    </div>
    
  </form>
</div>


{% endblock %}