{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'rocks/css/rocks.css' %}">
{% endblock %}

{% block header %}
    {% include 'includes/nav-primary.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <hr>
        <section>
            <h4 class="text-left mt-5">What is The Rockhouse?</h4>
            <div class="row">
                <div class="col-12 col-md-8 d-flex text-justify">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos vel, possimus veritatis hic repellat ut adipisci assumenda deserunt rem voluptatibus, dolores aut ullam at, officiis tempora quibusdam laudantium error magnam?</p>
                </div>
                <div class="col-12 col-md-4 d-flex w-100">
                    <img src="{{ MEDIA_URL }}placeholder.webp" class="w-100" alt="The Rockhouse">
                </div>
            </div>
        </section>
        <section>
            <h4 class="text-right mt-5">How it all began...</h4>
            <div class="row">
                <div class="col-12 col-md-4 d-flex w-100">
                    <img src="{{ MEDIA_URL }}placeholder.webp" class="w-100" alt="The Rockhouse">
                </div>
                <div class="col-12 col-md-8 d-flex text-justify">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos vel, possimus veritatis hic repellat ut adipisci assumenda deserunt rem voluptatibus, dolores aut ullam at, officiis tempora quibusdam laudantium error magnam?</p>
                </div>
            </div>
        </section>
        <section>
            <h4 class="text-center mt-5">Our team</h4>
            <div class="d-flex justify-content-center mt-2">
                <div class="row mx-auto text-center">
                    <div class="card m-2" style="width: 12rem;">
                        <div class="col-6 col-md-3 w-100 mw-100">
                            <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top mw-100" alt="The Rockhouse">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Person's name</h5>
                            <p class="card-text text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos vel, possimus veritatis hic repellat ut adipisci assumenda deserunt rem voluptatibus, dolores aut ullam at, officiis tempora quibusdam laudantium error magnam?</p>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 12rem;">
                        <div class="col-6 col-md-3 w-100 mw-100">
                            <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top mw-100" alt="The Rockhouse">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Person's name</h5>
                            <p class="card-text text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos vel, possimus veritatis hic repellat ut adipisci assumenda deserunt rem voluptatibus, dolores aut ullam at, officiis tempora quibusdam laudantium error magnam?</p>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 12rem;">
                        <div class="col-6 col-md-3 w-100 mw-100">
                            <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top mw-100" alt="The Rockhouse">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Person's name</h5>
                            <p class="card-text text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos vel, possimus veritatis hic repellat ut adipisci assumenda deserunt rem voluptatibus, dolores aut ullam at, officiis tempora quibusdam laudantium error magnam?</p>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 12rem;">
                        <div class="col-6 col-md-3 w-100 mw-100">
                            <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top mw-100" alt="The Rockhouse">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Person's name</h5>
                            <p class="card-text text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos vel, possimus veritatis hic repellat ut adipisci assumenda deserunt rem voluptatibus, dolores aut ullam at, officiis tempora quibusdam laudantium error magnam?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}