{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    {% comment %} custom stylesheet for the rocks app {% endcomment %}
    <link rel="stylesheet" href="{% static 'rocks/css/rocks.css' %}">
{% endblock %}

{% block header %}
    {% comment %} primary navigation bar {% endcomment %}
    {% include 'includes/nav-primary.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <hr>

        {% comment %} information about The Rockhouse {% endcomment %}
        <section>
            <div class="row mt-5">
                <div class="col-12 col-md-8 text-justify">
                    <h4 class="text-left mb-3">What is The Rockhouse?</h4>
                    <p>The Rockhouse is a revolutionary new concept in virtual pet ownership! We're not just about rocks; we're about the extraordinary bond between a rock enthusiast and their very own virtual companion.</p>
                    <p>Just like a zoo, we care for a diverse collection of rocks, each with its unique personality and needs. When you adopt a rock, you're not just taking ownership; you're becoming a proud sponsor, supporting our team of dedicated rock keepers.</p>
                    <p>Your adopted rock will be added to your virtual profile, where you can customize it with a variety of silly accessories. It’s a fun and unique way to express yourself, all without the hassle of real pet ownership!</p>
                </div>
                <div class="col-12 col-md-4 w-100">
                    <img src="{{ MEDIA_URL }}rockhouse-2.png" class="w-100 rounded" alt="The Rockhouse">
                </div>
            </div>
        </section>

        {% comment %} information about the history of The Rockhouse {% endcomment %}
        <section>
            <div class="row mt-5">
                <div class="col-12 col-md-4 w-100 order-last order-md-first">
                    <img src="{{ MEDIA_URL }}rockhouse-1.png" class="w-100 rounded" alt="The Rockhouse">
                </div>
                <div class="col-12 col-md-8 text-justify">
                    <h4 class="text-right mb-3">How it all began...</h4>
                    <p>The Rockhouse was born from a simple, yet extraordinary idea: to bring joy and personality to the often overlooked world of rocks. Our founder, a visionary rock enthusiast, saw the potential in these unassuming stones and dreamed of a place where they could be celebrated and cherished.</p>
                    <p>With a passion for creativity and a love for all things rock, our team set out to create a virtual world where rocks could thrive. The Rockhouse was the result of countless hours of hard work, dedication, and a whole lot of rock-solid enthusiasm.</p>
                    <p>Today, The Rockhouse stands as a testament to the power of imagination and the beauty of simplicity. We invite you to join us on this incredible journey and experience the joy of rock ownership, reimagined!</p>
                </div>
            </div>
        </section>

        {% comment %} information on the core team of The Rockhouse {% endcomment %}
        <section>
            <h4 class="text-center my-5">Core team</h4>
            <div>
                <div class="row g-3 justify-content-center">
                    <div class="col-6 col-lg-3 mb-3">
                        <div class="card" style="width: 100%;">
                            <img src="{{ MEDIA_URL }}team-founder.png" class="card-img-top" alt="The Rockhouse">
                            <div class="card-body text-center">
                                <h5 class="card-title">Billy Boulder</h5>
                                <p class="text-muted">Founder, Head of Operations</p>
                                <p class="card-text text-left">With a lifelong passion for rocks and a creative mind, Billy transformed a simple idea into a revolutionary virtual pet rock adoption center. In his late 60s, Billy's wisdom and experience guide the Rockhouse team with unwavering dedication and enthusiasm.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <div class="card" style="width: 100%;">
                            <img src="{{ MEDIA_URL }}team-marketing.png" class="card-img-top" alt="The Rockhouse">
                            <div class="card-body text-center">
                                <h5 class="card-title">Connie Coleman</h5>
                                <p class="text-muted">Head of Marketing</p>
                                <p class="card-text text-left">With a knack for storytelling and a passion for rocks, Connie expertly crafts engaging campaigns that resonate with our community and help us raise funds to care for our rocks. Always ready with a warm smile and a fresh idea, Connie is a vital part of our team, driving the success of The Rockhouse!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <div class="card" style="width: 100%;">
                            <img src="{{ MEDIA_URL }}team-keeper2.png" class="card-img-top" alt="The Rockhouse">
                            <div class="card-body text-center">
                                <h5 class="card-title">Felix Delgado</h5>
                                <p class="text-muted">Head Keeper</p>
                                <p class="card-text text-left">Say hello to Felix! His enthusiasm for all things rock-related is contagious, and he brings a wealth of knowledge and expertise to our team. He knows exactly what each and every rock needs to thrive!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <div class="card" style="width: 100%;">
                            <img src="{{ MEDIA_URL }}team-keeper.png" class="card-img-top" alt="The Rockhouse">
                            <div class="card-body text-center">
                                <h5 class="card-title">Zack Gordon</h5>
                                <p class="text-muted">Assistant Keeper</p>
                                <p class="card-text text-left">Meet Zack, our energetic and enthusiastic Assistant Keeper! He is always eager to share fascinating rock facts and ensure that every rock is well-cared for. He will be the one to show you around and lead you to your rock if you come for a visit!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
{% endblock %}