{% extends "base.html" %}
{% load static %}

{% block header %}
    {% comment %} secondary navigation bar {% endcomment %}
    {% include 'includes/nav-secondary.html' %}
{% endblock %}

{% block extra_css %}
    {% comment %} custom stylesheet for adoptions app {% endcomment %}
    <link rel="stylesheet" href="{% static 'adoptions/css/adoptions.css' %}">
{% endblock %}

{% block content %}
        <div class="container">
            <div class="mt-5">
                <div class="row">

                    {% comment %} rock image {% endcomment %}
                    <div class="col-12 col-md-3 justify-content-center">
                        <img src="{{ adoption.rock.image.url }}" class="img-fluid custom-rounded p-4" alt="placeholder image">
                    </div>

                    {% comment %} thank you note + links to profile and customisation app {% endcomment %}
                    <div class="col-12 col-md-9">
                        <div class="p-4">
                            <h1 class="mb-4">Thank you!</h1>
                            <p>Thank you for adopting {{adoption.rock.name}}! They're now officially yours. You will find {{adoption.rock.name}} in your <a href="{% url 'myprofile' %}"><strong>profile</strong></a>.</p>
                            <p>You can now accessorise {{adoption.rock.name}} as you see fit! Go to the <a href="{% url 'customisation' adoption.rock.id %}"><strong>customisation tool</strong></a> to make your new rock fancy, or to add a personal note about it for all to see.</p>
                            <p>Have fun with {{adoption.rock.name}}!</p>
                        </div>
                    </div>
                </div>
                <hr>

                {% comment %} back to rock's profile {% endcomment %}
                <div class="mt-5 text-right d-none d-md-block">
                    <a class="text-muted small" href="{% url 'rockprofile' adoption.rock.id %}">< Back to {{adoption.rock.name}}'s page</a>
                </div>
                <div class="mt-5 text-center d-block d-md-none">
                    <a class="text-muted small" href="{% url 'rockprofile' adoption.rock.id %}">< Back to {{adoption.rock.name}}'s page</a>
                </div>
            </div>
        </div>
{% endblock %}