{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include 'includes/nav-secondary.html' %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'adoptions/css/adoptions.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="mt-5">
                <div class="row">
                    <div class="col-12 col-md-3 justify-content-center">
                        <img src="{{ rock.image.url }}" class="img-fluid custom-rounded p-4" alt="placeholder image">
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="p-4">
                            <h1 class="mb-4">{{rock.name}}</h1>
                            <p><strong>{{rock.name}}'s adoption cost: £{{rock.price}}</strong></p>
                            <p>To adopt {{rock.name}}, fill in the form below and click on the "complete adoption" button to pay the adoption fee. Once the payment is confirmed, {{rock.name}} will be added to your profile.</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="mt-5">
                <form action="{% url 'adoption_form' rock.id %}" method="POST" id="adoption-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h5 class="mb-4">Billing information</h5>
                            <fieldset class="rounded px-3 mb-5">
                                {{adoption_form.full_name | as_crispy_field}}
                                {{adoption_form.address1 | as_crispy_field}}
                                {{adoption_form.address2 | as_crispy_field}}
                                {{adoption_form.town | as_crispy_field}}
                                {{adoption_form.postcode | as_crispy_field}}
                                {{adoption_form.country | as_crispy_field}}
                            </fieldset>
                        </div>
                        <div class="col-12 col-md-6">
                            <h5 class="mb-4">Card details</h5>
                            <fieldset class="px-3 mb-5">
                                {% comment %} A Stripe card element will go here {% endcomment %}
                                <div class="mb-3" id="card-element"></div>
                                {% comment %} Used to display form errors {% endcomment %}
                                <div class="text-danger" id="card-errors" role="alert"></div>
                                {% comment %} Hidden input to pass payment intent id to the POST method part of the view {% endcomment %}
                                <input type="hidden" id="payment_intent_id" name="payment_intent_id" value="">
                            </fieldset>
                            <div class="text-center">
                                <input type="submit" class="btn btn-dark mb-3" value="COMPLETE ADOPTION"><br>
                                {% comment %} <button class="btn btn-dark mb-5" href="{% url 'adoption_form' rock.id %}">PROCEED</button> {% endcomment %}
                                <a class="text-muted small" href="{% url 'rockprofile' rock.id %}">< Back to {{rock.name}}'s page</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{stripe_public_key | json_script:'id_stripe_public_key'}}
    {{client_secret | json_script:'id_client_secret'}}
    <script src="{% static 'adoptions/js/stripe_elements.js' %}"></script>
{% endblock %}